.github-activity-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    article{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        place-content: center;
        h2{
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}